# Make Composer-friendly project.
# Ignore some files/directories when installing as --prefer-dist.

/build              export-ignore
/docs               export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
